In [1]:
import pandas as pd

crime_data = pd.read_csv('mobile_server/data/social_indicators.csv', encoding='utf-8')
crime_data.drop('Unnamed: 0', axis=1,inplace=True)
crime_data.head()

,location,city,barangay,placetype,land area sq km,"Education,Baccalauate graduate","Education,College undergraduate","Education,Elementary","Education,High school","Education,No grade completed",...,Adult Population,Retiree Population,Female Children Population,Female Teenage Population,Female Adult Population,Female Retiree Population,Male Children Population,Male Teenage Population,Male Adult Population,Male Retiree Population
0,PanaboCity_AOFloirendo,Panabo City,A. O. Floirendo,urban,6.60,445.5,389.0,613.0,1375.5,14.5,...,2577.0,351.0,525.5,483.5,1260.5,184.5,551.0,493.5,1317.5,167.0
1,PanaboCity_Buenavista,Panabo City,Datu Abdul Dadia,urban,7.88,532.0,465.0,732.0,1643.0,17.0,...,3080.0,419.5,628.0,578.0,1504.5,220.5,658.0,590.0,1576.0,199.0
2,PanaboCity_Cacao,Panabo City,Buenavista,rural,1.09,73.5,64.5,101.5,227.0,2.0,...,425.5,58.0,87.0,80.0,208.0,31.0,90.5,81.5,217.0,27.0
3,PanaboCity_Cagangohan,Panabo City,Cacao,rural,1.63,109.5,96.0,151.0,339.0,4.0,...,636.5,87.0,129.5,119.5,311.5,46.0,136.0,122.0,325.0,42.0
4,PanaboCity_Consolacion,Panabo City,Cagangohan,urban,18.74,1266.0,1106.0,1741.5,3907.5,41.0,...,7324.0,999.0,1493.0,1373.5,3580.5,525.5,1565.0,1403.0,3744.5,473.5

In [2]:
crime_data['Children Population']= crime_data['Population,00-01']+crime_data['Population,01-04']+crime_data['Population,05-09']
crime_data['Teenage Population'] = crime_data['Population,10-14'] + crime_data['Population,15-19']
crime_data['Adult Population'] = crime_data['Population,20-24']+crime_data['Population,25-29']+crime_data['Population,30-34']+crime_data['Population,35-39']+crime_data['Population,40-44']+crime_data['Population,45-49']+crime_data['Population,50-54']+crime_data['Population,55-59']
crime_data['Retiree Population'] = crime_data['Population,60-64']+crime_data['Population,65-69']+crime_data['Population,70-74']+crime_data['Population,75-79']+crime_data['Population,80 years and over ']

crime_data['Female Children Population']= crime_data['Population,female,00-01']+crime_data['Population,female,01-04']+crime_data['Population,female,05-09']
crime_data['Female Teenage Population'] = crime_data['Population,female,10-14'] + crime_data['Population,female,15-19']
crime_data['Female Adult Population'] = crime_data['Population,female,20-24']+crime_data['Population,female,25-29']+crime_data['Population,female,30-34']+crime_data['Population,female,35-39']+crime_data['Population,female,40-44']+crime_data['Population,female,45-49']+crime_data['Population,female,50-54']+crime_data['Population,female,55-59']
crime_data['Female Retiree Population'] = crime_data['Population,female,60-64']+crime_data['Population,female,65-69']+crime_data['Population,female,70-74']+crime_data['Population,female,75-79']+crime_data['Population,female,80 years and over ']

crime_data['Male Children Population']= crime_data['Population,male,00-01']+crime_data['Population,male,01-04']+crime_data['Population,male,05-09']
crime_data['Male Teenage Population'] = crime_data['Population,male,10-14'] + crime_data['Population,male,15-19']
crime_data['Male Adult Population'] = crime_data['Population,male,20-24']+crime_data['Population,male,25-29']+crime_data['Population,male,30-34']+crime_data['Population,male,35-39']+crime_data['Population,male,40-44']+crime_data['Population,male,45-49']+crime_data['Population,male,50-54']+crime_data['Population,male,55-59']
crime_data['Male Retiree Population'] = crime_data['Population,male,60-64']+crime_data['Population,male,65-69']+crime_data['Population,male,70-74']+crime_data['Population,male,75-79']+crime_data['Population,male,80 years and over ']

In [3]:
# crime_data.to_csv('mobile_server/data/social_indicators.csv')

In [4]:
ind_col = [
    'location','city','barangay','placetype',
    'Education,Baccalauate graduate',
    'Education,College undergraduate',
    'Education,Elementary',
    'Education,High school',
    'Education,No grade completed',
    'Education,Out of school youth',
    'Education,Post baccalaureate',
    'Education,Postsecondary',
    'Household,number of households',
    'Housing,dwelling tenure status,Own house rent lot',
    'Housing,dwelling tenure status,Own house rent,free lot with consent of owner',
    'Housing,dwelling tenure status,Own house rent,free lot without consent of owner',
    'Housing,dwelling tenure status,Own or owner,like possession of house and lot',
    'Housing,dwelling tenure status,Rent house/ room including lot',
    'Housing,dwelling tenure status,Rent,free house and lot with consent of owner',
    'Housing,dwelling tenure status,Rent,free house and lot without consent of owner',
    'Labor,Employed',
    'Labor,In the Labor Force',
    'Labor,Not in the Labor Force',
    'Labor,Underemployed',
    'Labor,Unemployed',
    'Poverty,poverty incidence by employed',
    'Poverty,poverty incidence by household',
    'Poverty,poverty incidence by population',
    'Poverty,poverty incidence by unemployed',
    'Children Population',
    'Teenage Population',
    'Adult Population',
    'Retiree Population',
    'Female Children Population',
    'Female Teenage Population',
    'Female Adult Population',
    'Female Retiree Population',
    'Male Children Population',
    'Male Teenage Population',
    'Male Adult Population',
    'Male Retiree Population',
]

In [7]:
crime_data[ind_col].to_csv('social_ind.csv')

In [8]:
social_csv = pd.read_csv('mobile_server/data/social_indicators.csv', encoding='utf-8')

In [9]:
soci = social_csv[social_csv['location'] == 'PanaboCity_AOFloirendo']

In [13]:
soci['city'][0]

'Panabo City'